
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand"  ></a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/dashboard/userProduct" routerLinkActive="true" >My Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/dashboard/productList" routerLinkActive="true">Product List</a>
      </li>
    </ul>
  </div>
</nav>

<main role="main">


  <div class="container">
    <!-- Example row of columns -->
    <hr>
    <div class="row">
      <div class="col-10">

        <router-outlet></router-outlet>
      </div>
    </div>



  </div> <!-- /container -->

</main>
